.custom__button {
  background-color: var(--brightRed);
  color: var(--lightGray);
  font-size: .75rem;
  font-weight: 700;
  border: 0;
  border-radius: 2rem;
  padding: .75rem 2rem;
  box-shadow: 0px 6px 12px -5px  var(--brightRed);
}

.custom__button:hover {
  opacity: .75;
}

.inverted {
  background-color: var(--lightGray);
  color: var(--brightRed);
  box-shadow: 0px 6px 12px -5px  var(--paleRed);
}
